name: Publish

on:
  release:
    types:
      - published

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/setup-node-pnpm

      - name: Build
        run: pnpm build

      - name: Publish
        run: pnpm publish --provenance
