name: Publish

on:
  release:
    types:
      - published

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-node-pnpm

      - name: Build
        run: pnpm build

      - name: Publish
        run: pnpm publish --no-git-checks --provenance
