name: Test

on:
  push:
    branches:
      - release-please--*

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: ./.github/actions/setup-node-pnpm

      - name: Build extension
        run: pnpm build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Start services using Docker Compose
        run: docker compose -f compose.test.yaml up --build --wait --detach

      - name: Run tests
        run: pnpm test
